<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpoonacularAPIKey</key>
	<string>22756f6781d44efa9db26314cef9ee68</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchscreen</string>
		<key>UILaunchScreen</key>
		<string></string>
	</dict>
</dict>
</plist>
