<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need to send you notifications about expiring items in your inventory.</string>
	<key>SpoonacularAPIKey</key>
	<string>95db128f419d44df8aacbd9c64636e0c</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchscreen</string>
		<key>UILaunchScreen</key>
		<string></string>
	</dict>
</dict>
</plist>
